<template>
    <div class="container">
        <div class="modal" id="associationFormModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Association</p>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Categorie</label>
                        <div class="select">
                        <select v-model.lazy="associationFormCategory">
                            <option v-for="category in categoryList" v-bind:value="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" v-model.lazy="associationFormName">
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer" v-on:click="sendAssociation()">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
    </div>

</template>

<script>
    import * as associationForm from '../../assets/js/association-form'
    import {BackEndAPI} from "../../assets/js/api";

    export default {
        name: 'association-form',
        props: ['associationId', 'associationName', 'associationCategory'],
        data: function () {
            return {
                associationFormName: this.associationName,
                associationFormCategory: this.associationCategory,
                associationFormId: this.associationId,
                categoryList: ''
            }
        },
        methods: {
            getCategoryList() {
                BackEndAPI.getCategories().then((categories) => {
                    this.categoryList = categories['result'];
                })
            },
            sendAssociation() {
                if (this.associationFormId !== '') {
                    BackEndAPI.editAssociation(this.associationFormId, this.associationFormName, this.associationFormCategory).then((formResult) => {
                        let category = this.getCategory(this.associationFormCategory);
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': this.associationFormId,
                            'type': 'edit',
                            'category': category,
                            'name': this.associationFormName
                        });
                    });
                } else {
                    BackEndAPI.addAssociation(this.associationFormName, this.associationFormCategory).then((formResult) => {
                        let category = this.getCategory(this.associationFormCategory);
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': formResult.id,
                            'type': 'add',
                            'category': category,
                            'name': this.associationFormName
                        });
                    });
                }

            },
            getCategory(categoryId) {
                let categoryFound = '';

                this.categoryList.forEach(function (category, key) {
                    if (category.id === categoryId) {
                        categoryFound = category;
                    }
                });

                return categoryFound;
            }
        },
        mounted: function() {
            associationForm.listenActions();
            this.getCategoryList()
        },
        watch: {
            associationName(val) {
                this.associationFormName = val;
            },
            associationId(val) {
                this.associationFormId = val;
            },
            associationCategory(val) {
                this.associationFormCategory = val;
            }
        }
    };
</script>