<template>
    <div class="container">
        <div class="modal" id="categoryFormModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Categorie</p>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" v-model.lazy="categoryFormName">
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer" v-on:click="sendCategory()">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
    </div>

</template>

<script>
    import * as categoryForm from '../../assets/js/category-form'
    import {BackEndAPI} from "../../assets/js/api";

    export default {
        name: 'category-form',
        props: ['categoryId', 'categoryName'],
        data: function () {
            return {
                categoryFormName: this.categoryName,
                categoryFormId: this.categoryId
            }
        },
        methods: {
            sendCategory() {
                if (this.categoryFormId !== '') {
                    BackEndAPI.editCategory(this.categoryFormId, this.categoryFormName).then((formResult) => {
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': this.categoryFormId,
                            'type': 'edit',
                            'name': this.categoryFormName
                        });
                    });
                } else {
                    BackEndAPI.addCategory(this.categoryFormName).then((formResult) => {
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': formResult.id,
                            'type': 'add',
                            'name': this.categoryFormName
                        });
                    });
                }

            }
        },
        mounted: function() {
            categoryForm.listenActions();
        },
        watch: {
            categoryName(val) {
                this.categoryFormName = val;
            },
            categoryId(val) {
                this.categoryFormId = val;
            }
        }
    };
</script>