<template>
    <div class="container">
        <div class="modal" id="redundantFormModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Recurrence</p>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Categorie</label>
                        <div class="select">
                        <select v-model.lazy="redundantFormCategory">
                            <option v-for="category in categoryList" v-bind:value="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" v-model.lazy="redundantFormName">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Credit</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" v-model.lazy="redundantFormCredit">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Debit</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" v-model.lazy="redundantFormDebit">
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer" v-on:click="sendRedundant()">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
    </div>

</template>

<script>
    import * as redundantForm from '../../assets/js/redundant-form'
    import {BackEndAPI} from "../../assets/js/api";

    export default {
        name: 'redundant-form',
        props: ['redundantId', 'redundantName', 'redundantCategory', 'redundantCredit', 'redundantDebit'],
        data: function () {
            return {
                redundantFormName: this.redundantName,
                redundantFormCategory: this.redundantCategory,
                redundantFormId: this.redundantId,
                redundantFormCredit: this.redundantCredit,
                redundantFormDebit: this.redundantDebit,
                categoryList: ''
            }
        },
        methods: {
            getCategoryList() {
                BackEndAPI.getCategories().then((categories) => {
                    this.categoryList = categories['result'];
                })
            },
            sendRedundant() {
                if (this.redundantFormId !== '') {
                    BackEndAPI.editRedundant(this.redundantFormId,
                        this.redundantFormName,
                        this.redundantFormCategory,
                        this.redundantFormCredit,
                        this.redundantFormDebit).then((formResult) => {
                        let category = this.getCategory(this.redundantFormCategory);
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': this.redundantFormId,
                            'type': 'edit',
                            'category': category,
                            'name': this.redundantFormName,
                            'credit': this.redundantFormCredit,
                            'debit': this.redundantFormDebit
                        });
                    });
                } else {
                    BackEndAPI.addRedundant(this.redundantFormName, this.redundantFormCategory, this.redundantFormCredit, this.redundantFormDebit).then((formResult) => {
                        let category = this.getCategory(this.redundantFormCategory);
                        this.$emit('formReturn', {
                            'form': formResult,
                            'id': formResult.id,
                            'type': 'add',
                            'category': category,
                            'name': this.redundantFormName,
                            'credit': this.redundantFormCredit,
                            'debit': this.redundantFormDebit
                        });
                    });
                }

            },
            getCategory(categoryId) {
                let categoryFound = '';

                this.categoryList.forEach(function (category, key) {
                    if (category.id === categoryId) {
                        categoryFound = category;
                    }
                });

                return categoryFound;
            }
        },
        mounted: function() {
            redundantForm.listenActions();
            this.getCategoryList()
        },
        watch: {
            redundantName(val) {
                this.redundantFormName = val;
            },
            redundantCredit(val) {
                this.redundantFormCredit = val;
            },
            redundantDebit(val) {
                this.redundantFormDebit = val;
            },
            redundantId(val) {
                this.redundantFormId = val;
            },
            redundantCategory(val) {
                this.redundantFormCategory = val;
            }
        }
    };
</script>