<template>
    <div class="container">
        <div class="container m-t-md m-b-md">
            <h1 class="title is-2">
                Association de catégories
            </h1>
        </div>
        <flash-messages v-bind:messages.sync="flashMessages"></flash-messages>
        <div class="container">
            <a class="button is-success is-pulled-right" v-on:click="editAssociation('', 'Nouveau Pattern');"><span
                    class="icon is-large"><i class="fas fa-plus"></i></span>&nbsp;Ajouter une association</a>
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Pattern</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="association in associationList">
                    <td>{{ association.name }}</td>
                    <td>{{ association.category.name }}</td>
                    <td>
                        <a class="button is-info is-rounded"
                           v-on:click="editAssociation(association.id, association.name, association.category.id);"><span class="icon is-small"><i
                                class="fas fa-pencil-alt"></i></span></a>
                        <a class="button is-danger is-rounded remove-category"
                           v-on:click="removeConfirmation(association.id);"><span class="icon is-small"><i
                                class="fas fa-minus"></i></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="deleteConfirmation">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Suppression</p>
                </header>
                <section class="modal-card-body">
                    Etes-vous sûr de vouloir supprimer cette association ?
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer"
                       v-on:click="removeAssociation(associationToRemove)">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
        <association-form :associationId.sync="editId" :associationName.sync="editName" :associationCategory.sync="editCategory"
                       @formReturn="associationUpsert"></association-form>
    </div>

</template>

<script>
    import {removeConfirmation, displayAssociationForm} from '../assets/js/association'
    import FlashMessages from './../components/FlashMessages';
    import AssociationForm from './../components/Form/AssociationsForm';
    import {BackEndAPI} from "../assets/js/api";

    export default {
        name: 'Associations',
        data: function () {
            return {
                associationToRemove: '',
                associationList: [],
                associationFlashMessage: [],
                flashMessages: [],
                editId: '',
                editName: '',
                editCategory: ''
            }
        },
        components: {
            'flash-messages': FlashMessages,
            'association-form': AssociationForm
        },
        methods: {
            getAssociationList() {
                BackEndAPI.getAssociations().then((associations) => {
                    this.associationList = associations['result'];
                })
            },
            editAssociation(id, name, category) {
                this.editId = id;
                this.editName = name;
                this.editCategory = category;
                displayAssociationForm();
            },
            associationUpsert(formResult) {
                if (formResult.form.result === 'OK') {
                    if (formResult.type === 'edit') {
                        let keyToEdit = this.getAssociationKey(formResult.id);
                        let associationEdited = this.associationList[keyToEdit];
                        associationEdited.name = formResult.name;
                        associationEdited.category = formResult.category;
                        this.associationList.splice(keyToEdit, 1, associationEdited);
                        this.addFlashMessage('success', 'L\'association a bien été mise à jour !');
                    } else {

                        this.associationList.push({'id' : formResult.id, 'name': formResult.name, 'category': formResult.category});
                        this.addFlashMessage('success', 'L\'association a bien été ajoutée !');
                    }

                } else {
                    this.addFlashMessage('error', 'L\' association n\'a pas pu être ajoutée/modifiée !');
                }
            },
            removeConfirmation(id) {
                this.associationToRemove = id;
                removeConfirmation();
            },
            removeAssociation(id) {
                BackEndAPI.removeAssociation(id).then((result) => {
                    if (result.result === 'OK') {
                        let keyToRemove = this.getAssociationKey(id);

                        this.associationList.splice(keyToRemove, 1);
                        this.addFlashMessage('success', 'La catégorie a bien été supprimée !');
                    } else {
                        this.addFlashMessage('error', 'La catégorie n\'a pas pu être supprimée !');
                    }
                })
            },
            addFlashMessage(flashType, flashMessage) {
                this.associationFlashMessage[flashType].push(flashMessage);
                this.flashMessages = this.associationFlashMessage;
                setTimeout(() => {
                    this.flashMessages = [];
                    this.initialiseFlashMessages();
                }, 3000);
            },
            initialiseFlashMessages() {
                this.associationFlashMessage.error = [];
                this.associationFlashMessage.warning = [];
                this.associationFlashMessage.success = [];
            },
            getAssociationKey(associationId) {
                let listKey = '';

                this.associationList.forEach(function (association, key) {
                    if (association.id === associationId) {
                        listKey = key;
                    }
                });

                return listKey;
            }
        },
        mounted() {
            this.initialiseFlashMessages(),
            this.getAssociationList()
        }
    };
</script>