<template>
    <div class="container">
        <div class="container m-t-md m-b-md">
            <h1 class="title is-2">
                Catégories
            </h1>
        </div>
        <flash-messages v-bind:messages.sync="flashMessages"></flash-messages>
        <div class="container">
            <a class="button is-success is-pulled-right" v-on:click="editCategory('', 'Nouvelle Categorie');"><span
                    class="icon is-large"><i class="fas fa-plus"></i></span>&nbsp;Ajouter une catégorie</a>
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categoryList">
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="button is-info is-rounded"
                           v-on:click="editCategory(category.id, category.name);"><span class="icon is-small"><i
                                class="fas fa-pencil-alt"></i></span></a>
                        <a class="button is-danger is-rounded remove-category"
                           v-on:click="removeConfirmation(category.id);"><span class="icon is-small"><i
                                class="fas fa-minus"></i></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="deleteConfirmation">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Suppression</p>
                </header>
                <section class="modal-card-body">
                    Etes-vous sûr de vouloir supprimer cette catégorie ?
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer"
                       v-on:click="removeCategory(categoryToRemove)">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
        <category-form :categoryId.sync="editId" :categoryName.sync="editName"
                       @formReturn="categoryUpsert"></category-form>
    </div>

</template>

<script>
    import {removeConfirmation, displayCategoryForm} from '../assets/js/category'
    import FlashMessages from './../components/FlashMessages';
    import CategoryForm from './../components/Form/CategoryForm';
    import {BackEndAPI} from "../assets/js/api";

    export default {
        name: 'Categories',
        data: function () {
            return {
                categoryToRemove: '',
                categoryList: [],
                categoryFlashMessage: [],
                flashMessages: [],
                editId: '',
                editName: ''
            }
        },
        components: {
            'flash-messages': FlashMessages,
            'category-form': CategoryForm
        },
        methods: {
            getCategoryList() {
                BackEndAPI.getCategories().then((categories) => {
                    this.categoryList = categories['result'];
                })
            },
            editCategory(id, name) {
                this.editId = id;
                this.editName = name;
                displayCategoryForm();
            },
            categoryUpsert(formResult) {console.log(formResult);
                if (formResult.form.result === 'OK') {
                    if (formResult.type === 'edit') {
                        let keyToEdit = this.getCategoryKey(formResult.id);
                        let categoryEdited = this.categoryList[keyToEdit];
                        categoryEdited.name = formResult.name;

                        this.categoryList.splice(keyToEdit, 1, categoryEdited);
                        this.addFlashMessage('success', 'La catégorie a bien été mise à jour !');
                    } else {
                        this.categoryList.push({'id' : formResult.id, 'name': formResult.name});
                        this.addFlashMessage('success', 'La catégorie a bien été ajoutée !');
                    }

                } else {
                    this.addFlashMessage('error', 'La catégorie n\'a pas pu être ajoutée/modifiée !');
                }
            },
            removeConfirmation(id) {
                this.categoryToRemove = id;
                removeConfirmation();
            },
            removeCategory(id) {
                BackEndAPI.removeCategory(id).then((result) => {
                    if (result.result === 'OK') {
                        let keyToRemove = this.getCategoryKey(id);

                        this.categoryList.splice(keyToRemove, 1);
                        this.addFlashMessage('success', 'La catégorie a bien été supprimée !');
                    } else {
                        this.addFlashMessage('error', 'La catégorie n\'a pas pu être supprimée !');
                    }
                })
            },
            addFlashMessage(flashType, flashMessage) {
                this.categoryFlashMessage[flashType].push(flashMessage);
                this.flashMessages = this.categoryFlashMessage;
                setTimeout(() => {
                    this.flashMessages = [];
                    this.initialiseFlashMessages();
                }, 3000);
            },
            initialiseFlashMessages() {
                this.categoryFlashMessage.error = [];
                this.categoryFlashMessage.warning = [];
                this.categoryFlashMessage.success = [];
            },
            getCategoryKey(categoryId) {
                let listKey = '';

                this.categoryList.forEach(function (category, key) {
                    if (category.id === categoryId) {
                        listKey = key;
                    }
                });

                return listKey;
            }
        },
        mounted() {
            this.initialiseFlashMessages(),
                this.getCategoryList()
        }
    };
</script>