<template>
    <div class="container">
        <div class="container m-t-md m-b-md">
            <h1 class="title is-2">
                Import
            </h1>
        </div>
        <flash-messages v-bind:messages.sync="flashMessages"></flash-messages>
        <div class="container m-b-md">
            <div class="columns">
                <div class="column is-3 is-offset-4">
                    <!--<div class="field has-addons">
                        <div class="control has-icons-left">
                            <div class="select">
                                <select v-model="importMonth">
                                    <option selected>Mois</option>
                                    <option>Janvier</option>
                                    <option>Février</option>
                                    <option>Mars</option>
                                    <option>Avril</option>
                                    <option>Mai</option>
                                    <option>Juin</option>
                                    <option>Juillet</option>
                                    <option>Aout</option>
                                    <option>Septembre</option>
                                    <option>Octobre</option>
                                    <option>Novrmbre</option>
                                    <option>Décembre</option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="control has-icons-left">
                            <div class="select">
                                <select v-model="importYear">
                                    <option selected>Année</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                    </div>-->
                    <div class="field">
                        <div class="file">
                            <div class="file has-name is-primary">
                                <label class="file-label">
                                    <input class="file-input" v-on:change="processFile($event)" type="file" id="import" name="resume">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choisissez un fichier...
                                        </span>
                                    </span>
                                    <span class="file-name" id="import_filename">

                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <a class="button is-primary" v-on:click="sendImport()">Valider</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import  * as bank_import from "../assets/js/import";
    import FlashMessages from './../components/FlashMessages';
    import {BackEndAPI} from "../assets/js/api";

    export default {
        name: 'Import',
        data: function () {
            return {
                flashMessages: [],
                importFlashMessage: [],
                importYear: ''
            }
        },
        components: {
            'flash-messages': FlashMessages
        },
        methods: {
            processFile (event) {
              this.importFile = event.target.files[0];
            },
            sendImport() {
                BackEndAPI.importBankAccount(this.importFile).then((result) => {
                    if (result.result === 'OK') {alert('ok');
                        this.addFlashMessage('success', 'L\'import a bien été effectué !');
                    } else {
                        this.addFlashMessage('error', 'L\'import n\'a pas pu être effectué !');
                    }
                })

            },
            addFlashMessage(flashType, flashMessage) {
                this.importFlashMessage[flashType].push(flashMessage);
                this.flashMessages = this.importFlashMessage;
                setTimeout(() => {
                    this.flashMessages = [];
                    this.initialiseFlashMessages();
                }, 3000);
            },
            initialiseFlashMessages() {
                this.importFlashMessage.error = [];
                this.importFlashMessage.warning = [];
                this.importFlashMessage.success = [];
            }
        },
        mounted: function() {
            this.initialiseFlashMessages();
            bank_import.listenFileUpdate();
        }

    };
</script>