<template>
    <div class="container">
        <div class="container m-t-md m-b-md">
            <h1 class="title is-2">
                Réccurents
            </h1>
        </div>
        <flash-messages v-bind:messages.sync="flashMessages"></flash-messages>
        <div class="container">
            <a class="button is-success is-pulled-right" v-on:click="editRedundant('', 'Nouvelle Récurrence');"><span
                    class="icon is-large"><i class="fas fa-plus"></i></span>&nbsp;Ajouter une récurrence</a>
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Crédit</th>
                    <th>Débit</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="redundant in redundantList">
                    <td>{{ redundant.name }}</td>
                    <td>{{ redundant.category.name }}</td>
                    <td>{{ redundant.credit }}</td>
                    <td>{{ redundant.debit }}</td>
                    <td>
                        <a class="button is-info is-rounded"
                           v-on:click="editRedundant(redundant.id, redundant.name, redundant.category.id, redundant.credit, redundant.debit);"><span class="icon is-small"><i
                                class="fas fa-pencil-alt"></i></span></a>
                        <a class="button is-danger is-rounded remove-category"
                           v-on:click="removeConfirmation(redundant.id);"><span class="icon is-small"><i
                                class="fas fa-minus"></i></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="deleteConfirmation">
            <div class="modal-background"></div>
            <div class="modal-content">
                <header class="modal-card-head">
                    <p class="modal-card-title">Suppression</p>
                </header>
                <section class="modal-card-body">
                    Etes-vous sûr de vouloir supprimer cette recurrence ?
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success is-pulled-right modal-closer"
                       v-on:click="removeRedundant(redundantToRemove)">Valider</a>
                    <a class="button is-danger is-pulled-left modal-closer">Annuler</a>
                </footer>
            </div>
            <button class="modal-close is-large delete" aria-label="close"></button>
        </div>
        <redundant-form :redundantId.sync="editId"
                        :redundantName.sync="editName"
                        :redundantCategory.sync="editCategory"
                        :redundantCredit.sync="editCredit"
                        :redundantDebit.sync="editDebit"
                       @formReturn="redundantUpsert"></redundant-form>
    </div>

</template>

<script>
    import {removeConfirmation, displayRedundantForm} from '../assets/js/redundant'
    import FlashMessages from './../components/FlashMessages';
    import RedundantForm from './../components/Form/RedundantsForm';
    import {BackEndAPI} from "../assets/js/api";

    export default {
        name: 'Redundants',
        data: function () {
            return {
                redundantToRemove: '',
                redundantList: [],
                redundantFlashMessage: [],
                flashMessages: [],
                editId: '',
                editName: '',
                editCategory: '',
                editCredit: '',
                editDebit: ''
            }
        },
        components: {
            'flash-messages': FlashMessages,
            'redundant-form': RedundantForm
        },
        methods: {
            getRedundantList() {
                BackEndAPI.getRedundants().then((redundants) => {
                    this.redundantList = redundants['result'];
                })
            },
            editRedundant(id, name, category, credit, debit) {
                this.editId = id;
                this.editName = name;
                this.editCategory = category;
                this.editCredit = credit;
                this.editDebit = debit;
                displayRedundantForm();
            },
            redundantUpsert(formResult) {
                if (formResult.form.result === 'OK') {
                    if (formResult.type === 'edit') {
                        let keyToEdit = this.getRedundantKey(formResult.id);
                        let redundantEdited = this.redundantList[keyToEdit];
                        redundantEdited.name = formResult.name;
                        redundantEdited.category = formResult.category;
                        redundantEdited.credit = formResult.credit;
                        redundantEdited.debit = formResult.debit;
                        this.redundantList.splice(keyToEdit, 1, redundantEdited);
                        this.addFlashMessage('success', 'La récurrence a bien été mise à jour !');
                    } else {

                        this.redundantList.push({'id' : formResult.id,
                            'name': formResult.name,
                            'category': formResult.category,
                            'credit': formResult.credit,
                            'debit': formResult.debit
                        });
                        this.addFlashMessage('success', 'La récurrence a bien été ajoutée !');
                    }

                } else {
                    this.addFlashMessage('error', 'La récurrence n\'a pas pu être ajoutée/modifiée !');
                }
            },
            removeConfirmation(id) {
                this.redundantToRemove = id;
                removeConfirmation();
            },
            removeRedundant(id) {
                BackEndAPI.removeRedundant(id).then((result) => {
                    if (result.result === 'OK') {
                        let keyToRemove = this.getRedundantKey(id);

                        this.redundantList.splice(keyToRemove, 1);
                        this.addFlashMessage('success', 'La récurrence a bien été supprimée !');
                    } else {
                        this.addFlashMessage('error', 'La récurrence n\'a pas pu être supprimée !');
                    }
                })
            },
            addFlashMessage(flashType, flashMessage) {
                this.redundantFlashMessage[flashType].push(flashMessage);
                this.flashMessages = this.redundantFlashMessage;
                setTimeout(() => {
                    this.flashMessages = [];
                    this.initialiseFlashMessages();
                }, 3000);
            },
            initialiseFlashMessages() {
                this.redundantFlashMessage.error = [];
                this.redundantFlashMessage.warning = [];
                this.redundantFlashMessage.success = [];
            },
            getRedundantKey(redundantId) {
                let listKey = '';

                this.redundantList.forEach(function (redundant, key) {
                    if (redundant.id === redundantId) {
                        listKey = key;
                    }
                });

                return listKey;
            }
        },
        mounted() {
            this.initialiseFlashMessages(),
            this.getRedundantList()
        }
    };
</script>