<template>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <!--<li>Poubou Company</li>-->
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app-footer'
    };
</script>