<template>
    <div class="hero-head">
        <nav class="navbar is-primary">
            <div class="container">
                <div class="navbar-brand">
                     <router-link to="/" class="navbar-item is_active"><span class="icon is-small"><i class="fas fa-university"></i></span><span>Compte Bancaire</span></router-link>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                     </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <router-link to="/" class="navbar-item is_active">Accueil</router-link>
                        <router-link to="/stats" class="navbar-item">Stats</router-link>
                        <router-link to="/categories" class="navbar-item">Gestion des Catégories</router-link>
                        <router-link to="/associations" class="navbar-item">Gestion des Associations</router-link>
                        <router-link to="/redundants" class="navbar-item">Gestion des Récurants</router-link>
                        <router-link to="/import" class="navbar-item">Import</router-link>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

    export default {
        name: 'app-nav'
    };
</script>