<template>
    <div class="container m-t-md m-b-md">
        <div class="notification is-success" v-show="messages['success'] && messages['success'].length > 0">
            <button class="delete"></button>
            <ul>
                <li v-for="message in messages.success">
                    {{ message }}
                </li>
            </ul>
        </div>

        <div class="notification is-warning" v-show="messages['warning'] && messages['warning'].length > 0">
            <button class="delete"></button>
            <ul>
                <li v-for="message in messages.warning">
                    {{ message }}
                </li>
            </ul>
        </div>

        <div class="notification is-danger" v-if="messages['error'] && messages['error'].length > 0">
            <button class="delete"></button>
            <ul>
                <li v-for="message in messages.error">
                    {{ message }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import * as flashMessage from '../assets/js/flash-messages'

    export default {
        name: 'flash-messages',
        props: ['messages'],
        mounted: function() {
            flashMessage.listenActions();
        }
    };


</script>