<template>
    <div>
        <app-nav></app-nav>
            <div class="body">
                <router-view></router-view>
            </div>
        <app-footer></app-footer>
    </div>

</template>

<script>
    import AppNav from './views/partials/AppNav'
    import AppFooter from './views/partials/AppFooter'
    import * as jQuery from 'jquery'

    export default {

        data () {
           return {
               number: 0
           }
        },
        components: {
            'app-nav': AppNav,
            'app-footer': AppFooter
        }
    };
</script>